main-color = #2196F3

@font-face
  font-weight: 300
  font-style: normal
  font-family: 'Montserrat Light'
  src: url('../assets/MontserratLight.woff2') format('woff2')

@font-face
  font-weight: 400
  font-style: normal
  font-family: 'Montserrat'
  src: url('../assets/Montserrat.woff2') format('woff2')

default-font()
  font-weight: 300
  font-style: normal
  font-family: 'Montserrat'
  line-height: normal

box-shadow()
  box-shadow: 0 2px 20px -6px alpha(black, 0.4)